.row {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
form {
    padding: 1em;
}
fieldset {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid lightgray;
}
.col-label {
    display: inline-block;
    width: 7em;
    text-align: right;
    margin-right: 0.25em;
}
.col-input {
    display: inline-block;
    min-width: 15em;
}
.col-input > * {
    width: 100%;
    margin: 0;
}
.warning {
    color: red;
}